{% extends 'base.html' %}
{% load static %}
{% block title %} | {{blog.title|title}} {% endblock title%}
{% block content %}
<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">Blog Single</h1>
        <p class="text-white link-nav">
          <a href="{% url 'home' %}">Home </a>
          <span class="lnr lnr-arrow-right"></span>
          <a href="{% url 'blog' %}"> Blog</a>
          <span class="lnr lnr-arrow-right"></span>
          <a href="{% url 'blog_detail' blog.slug %}"> {{blog.title|title}}</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start blog-posts Area -->
<section class="blog-posts-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 post-list blog-post-list">
        <div class="single-post">
          {% if blog.thumbnail %}
		  	<img class="img-fluid" src="{{blog.thumbnail.url}}" alt="{{blog.title|title}}">
		  {% endif %}
          <ul class="tags">
            <li><a href="#">{{blog.category}}</a></li>
          </ul>
          <a href="#">
            <h1>{{blog.title|title}}</h1>
          </a>
          <div class="content-wrap">
            <p>
            {{blog.description|safe}}
            </p>
          </div>
          <div class="bottom-meta">
            <div class="user-details row align-items-center">
              <div class="comment-wrap col-lg-6 col-sm-6">
                <ul>
                  <li>
                    <a href="#comment"
                      ><span class="lnr lnr-bubble"></span> {{comments.count}} Comments</a
                    >
                  </li>
                </ul>
              </div>
              <div class="social-wrap col-lg-6">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
				    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
				    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
              </div>
            </div>
          </div>


          <!-- Start comment-sec Area -->
          <section class="comment-sec-area pt-80 pb-80" id="comment">
            <div class="container">
              <div class="row flex-column">
                <h5 class="text-uppercase pb-80">{{comments.count}} Comments</h5>
                <br />
                {% for comment in comments %}
                <div class="comment-list">
                  <div class="single-comment justify-content-between d-flex">
                    <div class="user justify-content-between d-flex">
                      <div class="thumb">
                        <img src="{% static '' %}" alt="" />
                      </div>
                      <div class="desc">
                        <h5><a href="#">{{comment.name}}</a></h5>
                        <p class="date">{{comment.created}}</p>
                        <p class="comment">
                          {{comment.message}}
                        </p>
                      </div>
                    </div>
                    {% comment %} reply {% endcomment %}
                  </div>
                </div>
                {% empty %}
                <p>Be the first to leave a review</p>
                {% endfor %}
              </div>
            </div>
          </section>
          <!-- End comment-sec Area -->

          <!-- Start commentform Area -->
          <section class="commentform-area pt-80">
            <form action="#" method="POST" class="container">
            {% csrf_token %}
              <h5 class="pb-50">Leave a Reply</h5>
              <div class="row flex-row d-flex">
                <div class="col-lg-4 col-md-6">
                  {{form.name}}
                 
                 {{form.email}}
                  
                </div>
                <div class="col-lg-8 col-md-6">
                  {{form.message}}
                  <input type="submit" class="primary-btn mt-20" value="Comment"/>
                </div>
              </div>
            </form>
          </section>
          <!-- End commentform Area -->
        </div>
      </div>

      <div class="col-lg-4 sidebar">

      </div>
    </div>
  </div>
</section>
{% endblock %}