{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Add a post | {% endblock title%}
{% block content %}


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Post job		
							</h1>	
							<p class="text-white link-nav"><a href="{% url 'home' %}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Post job</a></p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->

            <section class="team-area " id="">
				<div class="container">	
                <form action="#" method="POST" class="uniForm" style="margin-top: 2.7rem">
				{% csrf_token %}
                {{form.media}}
				{{form|crispy}}
				<h4>Requirements</h4>
                    {{formSet|crispy}}
					<div class="" style="margin: 1rem 0 2rem 0">
						<button class="btn btn-info" style="width: 100%"  type="Submit">submit</button>
					</div>
                </form>
                </div>
            </div>



{% endblock content %}		