{% extends 'base.html' %}
{% load static %}
{% block title %}Jobs | {% endblock title%}
{% block content %}



			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row search-page-top d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-12">
							<h1 class="text-white">
								Search Results				
							</h1>
							<p class="text-white link-nav">
								<a href="{% url 'home' %}">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="#">	 Search</a>
							</p>	
							<form action="" method="GET" class="serach-form-area">
								<div class="row justify-content-center form-wrap">
									<div class="col-lg-4 form-cols">
									{{filters.form.job_title}}
									</div>

									<div class="col-lg-3 form-cols">
									<div class="default-select" id="default-selects">
									{{filters.form.category}}										
									</div>
									</div>

									<div class="col-lg-3 form-cols">
									{{filters.form.location}}
									</div>

									<div class="col-lg-2 form-cols">
									    <button type="submit" class="btn btn-info">
									      <span class="lnr lnr-magnifier"></span> Search
									    </button>
									</div>								
								</div>
							</form>	
							<p class="text-white">{{paginator.count}} Results found</p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
			
			<!-- Start post Area -->
			<section class="post-area section-gap">
				<div class="container">
					<div class="row justify-content-center d-flex">
						<div class="col-lg-8 post-list">
							{% for job in page_objects %}
							<div class="single-post d-flex flex-row">
								<div class="thumb">
									{% comment %} <img src="{% static 'img/post.png' %}" alt=""> {% endcomment %}
								</div>
								&nbsp;
								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="{% url 'detail' job.slug %}"><h4>{{job.job_title}}</h4></a>
											<h6>{{job.company_name}}</h6>					
										</div>
										<ul class="btns">
											<li><a href="{% url 'detail' job.slug %}"><span class="lnr lnr-heart"></span></a></li>

											{% if request.user.is_authenticated %}
											<li><a href="{% url 'detail' job.slug %}">Apply</a></li>
											{% else %}
											<li><a href="{% url 'login' %}">Login to apply</a></li>
											{% endif %}

										</ul>
									</div>
									<p>
									{{job.description|slice:":150"|safe}}...
									</p>
									<h5>Job Nature: {{job.job_type}}</h5>
									<p class="address"><span class="lnr lnr-map"></span> {{job.location}}</p>
									{% if job.salary %}
									<p class="address"><span class="lnr lnr-database"></span> GHC {{job.salary}}</p>
									{% endif %}
								</div>
							</div>
							{% empty %}
							<h3> No job post found </h4>
							{% endfor %}
							
							 <div class="container mt-5">
								<ul class="pagination pagination-info">
								 {% if page_objects.has_previous  %}
								<li class="page-item">
								<a href="?page={{page_objects.previous_page_number}}" class="page-link">PREV</a>
								</li>
								{% endif %}

								<li class="active page-item">
								<a href="javascript:void(0);" class="page-link">{{page_objects.number}}</a>
								</li>
								
								{% if page_objects.has_next  %}
								<li class="page-item">
								<a href="?page={{page_objects.next_page_number }}" class="page-link">NEXT</a>
								</li>
								{% endif %}
							</ul>
							 </div>
						</div>
						<div class="col-lg-4 sidebar">

							<div class="single-slidebar">
								<h4>Top featured job posts</h4>
								<div class="active-relatedjob-carusel">
								{% for job in jobs|slice:":4" %}
									<div class="single-rated">
										<a href="{% url 'detail' job.slug %}"><h4>{{job.job_title|title}}</h4></a>
										<h6>{{job.company_name|title}}</h6>
										<p>
										{{job.description|slice:":100"|safe}}..
										</p>
										<h5>Job Nature: {{job.job_type}}</h5>
										<p class="address"><span class="lnr lnr-map"></span> {{job.location}}</p>
										{% if job.salary %}
										<p class="address"><span class="lnr lnr-database"></span> GHC {{job.salary}}</p>
										{% endif %}

										{% if request.user.is_authenticated %}
										<a href="{% url 'detail' job.slug %}" class="btns text-uppercase">Apply job</a>
										{% else %}
										<a href="{% url 'login' %}" class="btns text-uppercase">Login to apply</a>
										{% endif %}
									</div>			
								{% endfor %}														
								</div>
								</div>

							<div class="single-slidebar">
								<h4>Jobs by Category </h4>
								<ul class="cat-list">
								<li>
									<a class="justify-content-between d-flex" href="{% url 'jobs' %}">
									<p>All</p>
									<span></span>
									</a>
									</li>
								{% for category in categories|slice:":10" %}
									<li>
									<a class="justify-content-between d-flex" href="{% url 'jobs' %}?category={{category.category}}">
									<p>{{category.category}}</p>
									<span></span>
									</a>
									</li>
								{% endfor %}
								</ul>
							</div>
							
							{% if blog_count > 0 %}
							<div class="single-slidebar">
								<h4>Carrer Advice Blog</h4>
								<div class="blog-list">
								{% for blog in blogs %}
								{% if blog.featured %}
									{% if blog.thumbnail %}
									<div class="single-blog " style="background:#000 url({% static 'img/blog2.jpg' %});">
									{% else %}
									<div class="single-blog " style="background:#000 url({% static 'img/blog3.jpg' %});">
									{% endif %}
										<a href="{% url 'blog_detail' blog.slug %}">
										<h4>
										{{blog.title|title}}
										</h4></a>
										<div class="meta justify-content-between d-flex">
											<p>
												{{blog.created}}
											</p>
											<p>
												 <span class="lnr lnr-bubble"></span>
												{{blog.comments.count}}
											</p>
										</div>
									</div>
									{% endif %}
								{% endfor %}																		
								</div>
							</div>							
							{% endif %}									

						</div>
					</div>
				</div>	
			</section>
			<!-- End post Area -->

			<!-- Start callto-action Area -->
			{% if not request.user.is_authenticated %}
			<section class="callto-action-area section-gap" id="join">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Join us today without any hesitation</h1>
								<p class="text-white">
								Join us for more excited features for free
								</p>
								<a class="primary-btn" href="{% url 'signup' %}">Get started</a>
								<a class="primary-btn" href="{% url 'contact' %}">Contact us</a>
							</div>
						</div>
					</div>	
				</div>	
			</section>
			{% endif %}			
{% endblock %}