{% extends 'base.html' %}
{% load static %}
{% block title %}{{job.job_title}} | {% endblock title%}
{% block content %}

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								{{job.company_name|title}}			
							</h1>	
							<p class="text-white link-nav">
							<a href="{% url 'home' %}">Home </a>  
							<span class="lnr lnr-arrow-right"></span>  
							<a href="{% url 'jobs' %}"> Jobs</a>
							<span class="lnr lnr-arrow-right"></span>  
							<a href="{% url 'jobs' %}?category={{job.category}}">{{job.category}}</a>
							<span class="lnr lnr-arrow-right"></span>  
							<a href="#">{{job.job_title}}</a>
							
							</p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
				
			<!-- Start post Area -->
			<section class="post-area section-gap">
				<div class="container">
					<div class="row justify-content-center d-flex">
						<div class="col-lg-8 post-list">
							<div class="single-post d-flex flex-row">
								<div class="thumb">
								</div>
								&nbsp;
								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="{% url 'detail' job.slug %}"><h4>{{job.job_title}}</h4></a>
											<h6>{{job.company_name}}</h6>					
										</div>
									</div>
										<ul class="btns">
											{% if request.user.is_authenticated %}
											{% if job.application_url %}
											<li><a href="{{job.application_url}}" target="_blank">Apply</a></li>
											{% endif %}
											{% else %}
											<li><a href="">Login to apply</a></li>
											{% endif %}	
										</ul>
											<br>
									<h5>Job Nature: {{job.job_type}}</h5>
									<a href="mailto:{{job.company_email}}" class="address">Email:<span class="lnr lnr fas fa-envelope"></span>{{job.company_email}}</a>
									<p class="address"><span class="lnr lnr-map"></span> {{job.location}}</p>
									{% if job.salary %}
									<p class="address"><span class="lnr lnr-database"></span> GHC {{job.salary}}</p>
									{% endif %}
								</div>
							</div>	

							<div class="single-post job-details">
								<p>
									{{job.description|safe}}
								</p>
							</div>
							{% if requirements %}
							<div class="single-post job-experience">
								<h4 class="single-title">Requirements</h4>
								<ul>
								{% for requirement in requirements %}
									<li>
										<img src="{% static 'img/pages/list.jpg' %}" alt="">
										<span>{{requirement.requirement}}</span>
									</li>
								{% endfor %}																									
								</ul>
							</div>
							{% endif %}
														
						</div>
						<div class="col-lg-4 sidebar">

							<div class="single-slidebar">
								<h4>Top featured job posts</h4>
								<div class="active-relatedjob-carusel">
								{% for job in jobs|slice:":4" %}
									<div class="single-rated">
										<a href="{% url 'detail' job.slug %}"><h4>{{job.job_title|title}}</h4></a>
										<h6>{{job.company_name|title}}</h6>
										<p>
										{% comment %} {{job.description|slice:":100"|safe}}.. {% endcomment %}
										</p>
										<h5>Job Nature: {{job.job_type}}</h5>
										<p class="address"><span class="lnr lnr-map"></span> {{job.location}}</p>
										{% if job.salary %}
										<p class="address"><span class="lnr lnr-database"></span> GHC {{job.salary}}</p>
										{% endif %}

										{% if request.user.is_authenticated %}
										<a href="{% url 'detail' job.slug %}" class="btns text-uppercase">Apply job</a>
										{% else %}
										<a href="{% url 'login' %}" class="btns text-uppercase">Login to apply</a>
										{% endif %}
									</div>			
								{% endfor %}														
								</div>
							</div>									

							<div class="single-slidebar">
								<h4>Jobs by Category</h4>
								<ul class="cat-list">
								{% for category in categories|slice:":8" %}
									<li><a class="justify-content-between d-flex" href="{% url 'jobs' %}?category={{category.category}}"><p>{{category.category}}</p><span> </span></a></li>
								{% endfor %}
								</ul>
							</div>

							{% if blog_count > 0 %}
							<div class="single-slidebar">
								<h4>Carrer Advice Blog</h4>
								<div class="blog-list">
								{% for blog in blogs %}
								{% if blog.featured %}
									{% if blog.thumbnail %}
									<div class="single-blog " style="background:#000 url({% static 'img/blog2.jpg' %});">
									{% else %}
									<div class="single-blog " style="background:#000 url({% static 'img/blog3.jpg' %});">
									{% endif %}
										<a href="{% url 'blog_detail' blog.slug %}">
										<h4>
										{{blog.title|title}}
										</h4></a>
										<div class="meta justify-content-between d-flex">
											<p>
												{{blog.created}}
											</p>
											<p>
												 <span class="lnr lnr-bubble"></span>
												{{blog.comments.count}}
											</p>
										</div>
									</div>
									{% endif %}
								{% endfor %}																		
								</div>
							</div>							
							{% endif %}						

						</div>
					</div>
				</div>	
			</section>
			<!-- End post Area -->


			<!-- Start callto-action Area -->
			{% if not request.user.is_authenticated %}
			<section class="callto-action-area section-gap" id="join">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Join us today without any hesitation</h1>
								<p class="text-white">
								Join us for more excited features for free
								</p>
								<a class="primary-btn" href="{% url 'signup' %}">Get started</a>
								<a class="primary-btn" href="{% url 'contact' %}">Contact us</a>
							</div>
						</div>
					</div>	
				</div>	
			</section>
			{% endif %}
			<!-- End calto-action Area -->
{% endblock %}